.home-container {
  flex: 1;
  background-image: url('/assets/gif/0001-0160-ezgif.com-video-to-gif-converter.gif');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
