.logo-container {
  width: 100%;
  background-image: url("/assets/gif/logo.gif");
  background-size: contain; /* Покрывает весь div */
  background-repeat: no-repeat; /* Убирает повторение */
  background-position: center; /* Центрирует изображение */
}
