.video-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    z-index: 0;
    -webkit-media-controls: none;
    -webkit-media-controls-panel: none;
  }

  .content {
      position: relative;
      z-index: 1;
      text-align: center;
      top: 50px;
      display: none;
  }
}

@media (max-width: 768px) {
  .video-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    video {
      height: unset;
      position: unset;
    }
    .content {
      display: flex;
      position: unset;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}
