.footer-blocks {
  display: flex;
  padding: 0 4rem 2rem 4rem;

  .footer-items {
    display: flex;
    gap: 83px;
  }
}

@media (max-width: 768px) {
  .footer-block {
    .footer-blocks {
      flex-direction: column;
      gap: 27px;

      .footer-items {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
    }
  }
}
