.footer-blocks {
  display: flex;
  padding: 0 4rem 2rem 4rem;

  .footer-items {
    display: flex;
    gap: 83px;
  }
}

@media (max-width: 768px) {
  .footer-block {
    .footer-blocks {
      flex-direction: column;
      gap: 27px;
      padding: 0 1.5rem 10rem 1.5rem;
      align-items: center;

      .footer-items {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 0;
      }
    }
  }
}
