@font-face {
  font-family: 'VPCH2';
  src: url('assets/fonts/VPCH2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

app-root, .main-layout {
  height: 100%;
  background-image: url("assets/gif/fon.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: url("/assets/img/chupi.png"), auto;
}

.container-fluid, container {
  padding-left: unset !important;
  padding-right: unset !important;
}

.main-container, app-home {
  display: flex;
  flex: 1; // Растягивает основной контейнер на оставшееся пространство
}

p {
  margin-bottom: unset !important;
  color: #FFF85B;
  font-size: 62px;
  line-height: 68.2px;
  font-family: 'VPCH2', sans-serif;
  text-shadow:
    -1px -1px 0 #FFF85B,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 0 25px #FFF85B,
}

app-home {
  height: 100%;
}
