html, body {
  height: 100%;
  margin: 0;
}

app-root, .main-layout {
  height: 100%;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  padding-left: unset !important;
  padding-right: unset !important;
}

.header-container {
  background-color: #f8f9fa; // Цвет фона для хедера
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: 1px solid #dcdcdc;
}

.main-container, app-home {
  display: flex;
  flex: 1; // Растягивает основной контейнер на оставшееся пространство
}

.footer-container {
  background-color: #f1f1f1; // Цвет фона для футера
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top: 1px solid #dcdcdc;
}

p {
  margin-bottom: unset !important;
}

app-home {
  height: 100%;
}
